
<!-- base.html -->
{% load static %}
<html>
    <head>
        <title>{% block title %}{% endblock title %}</title>
        {% block css %} {% endblock css %}
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
    </head>
    <body>
    {% block navbar %}
    <!-- Cabezera -->
    <nav id="navbar">
        <div id="navbar-logo">
            
        </div>
        
        <div id="nav">
            <ul>            
                <li class="nav-item"><a href="{% url 'add_product' %}">Agregar producto</a></li>
                <li class="nav-item"><a href="{% url 'list_products' %}">Listar Productos</a></li>
                <li class="nav-item"><a href="#">quiénes somos</a></li>
                <li class="nav-item"><a href="#">contáctanos</a></li>


                       
                <li class="nav-item"><a href="#">registrarse</a></li>
                <li class="nav-item"><a href="#">iniciar sesión</a></li>
            
                
                              
            </ul>
        </div>                                 
    </nav>
    {% endblock %}
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
    <div>
        {% block footer %} {% endblock %}
    </div>
    {% block javascript %} {% endblock javascript %}
    </body>
</html>

